<p id="notice"><%= notice %></p>

<h1>Formularios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Reserva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formularios.each do |formulario| %>
      <tr>
        <td><%= formulario.nombre %></td>
        <td><%= formulario.telefono %></td>
        <td><%= formulario.correo %></td>
        <td><%= formulario.direccion %></td>
        <td><%= formulario.reserva %></td>
        <td><%= link_to 'Show', formulario %></td>
        <td><%= link_to 'Edit', edit_formulario_path(formulario) %></td>
        <td><%= link_to 'Destroy', formulario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formulario', new_formulario_path %>
